@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. oh my god it works
<Counter IncrementAmount="2"></Counter>

<Modal Title="My first Modal dialog" Show="true">
    <p>
        This is my first modal dialog
    </p>
</Modal>