@using BlazingPizza.Services

@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject OrderState OrderState

<div class="main">
	<h1>Blazing Pizzas</h1>
	<ul class="pizza-cards">
		
		@if (specials != null)
		{
			@foreach (var special in specials)
			{
				<li
					@onclick="() => OrderState.ShowConfigurePizzaDialog(special)"
					style="background-image: url('@special.ImageUrl')">
					
				</li>
			}
		}
	</ul>
	
	@if (OrderState.ShowingConfigureDialog)
	{
		<ConfigurePizzaDialog 
			Pizza="OrderState.ConfiguringPizza"
			OnCancel="OrderState.CancelConfigurePizzaDialog"
			OnConfirm="OrderState.ConfirmConfigurePizzaDialog"/>
	}
</div>

@code {
	List<PizzaSpecial> specials = new();
	
	protected override async Task OnInitializedAsync()
	{
		var url = NavigationManager.BaseUri + "specials";
		specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(url);
	}
}